
<div class="container d-flex pt-5 pb-5">
    <div class="row img h-50 w-50">
        <img src="assets/images/Sample.png" alt="">
    </div>

    <div class="row form w-50 ">
        <!-- <div class="">
            <span>
                <label for=""> Having trouble? get help.</label> 
                <div class="dropdown bg-light">
                    <button class="btn btn-white border-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-sharp fa-solid fa-flag"></i> England
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#"><i class="fa-solid fa-flag-usa"></i>Usa</a>
                      <a class="dropdown-item" href="#"><i class="fa-sharp fa-solid fa-flag"></i>India</a>
                      <a class="dropdown-item" href="#"><i class="fa-regular fa-flag"></i>Chaina</a>
                    </div>
                  </div>
            </span>
        </div> -->

        <div class="d-flex align-items-center">
            <div class="col-2"></div>
            <div class="col-8">
                <form action="">
                    <div>
                        <h5 class="">Login to Budget</h5>
                        <p class="mb-4 mt-2">Lorem ipsum dolor setsup</p>
                    </div>

                    <input class="form-control border-light rounded-top m-0" type="text" placeholder="Email">

                    <input class="form-control border-light mb-2 mt-2" type="password" placeholder="Password">

                    <div class="row sub">
                        <div class="col-6">
                            <div class="d-flex align-items-center justify-content-start">
                                <input type="checkbox">
                                <label>Keep me logged in</label>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <p class="d-flex justify-content-end">Forgot Password?</p>
                        </div>
                    </div>
                    <button class="btn btn-primary text-center w-100 p-3 rounded-3 mt-3" routerLink="dashboard">Login</button>
                    <div class="text-center mt-2">
                        <a href="" style="text-decoration: none; color: black;">Create New Account</a>

                    </div>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>