<div class="container mt-3">
    <h5 style="color: rgb(122, 121, 121);">Dashboard</h5>
</div>
<div class="container" style="background-color: white; width: 100%;" >
    <div class="row">
        <div class="col-sm-2" style="border-right-style:inset;">
        <div class="nav">
            <h3 class="mt-4 ms-3"  >Budget</h3>
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-5 ms-3">
                <li class="nav-item">
                  <a class="nav-link active " style="font-weight: 600; font-size: larger;" aria-current="page" href="dashboard"><span><img src="assets\images\images.png" alt="" class=" me-2" srcset="" style="width: 14%;"></span>Dashboard</a>
                </li>
              </ul>
              <div class="row" style="margin-top: 30rem;">
                <div class="col-3 ">
                    <div class="image-cropper ">
                        <img src="assets\images\b85788541e149a8d7d537dbec5167fb1-250.jpg" class="rounded" />
                      </div>
                    </div>
                <div class="col-9  " >
                    <h6>Catherine</h6>
                    <p style="color:rgb(146, 144, 144); font-size: small; line-height: 0.5em; ">+91 7564231245</p>
                </div>
              
              </div>
              <div class="row mt-5 mb-3">
              
              <a href=" " style="font-size: medium; text-decoration: none; color: black; font-weight: 600;"><span><img src="assets\images\download.png" alt="" class="ms-3 me-2" srcset="" style="width: 7%;"></span> Logout</a>
              
              </div>
              </div>
        </div>
        <div class="col-sm-10 ">
            <h4 style="font-weight: 600;" class="mt-4">Dashboard</h4>
            <p style="color: rgb(175, 174, 174); font-size: smaller;"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est
                excepturi consequ
            </p>
            <div class="row mb-3 w-50" style="border: 2px rgb(197, 191, 191) solid; border-radius: 20px; ">
                <div class="col-1 ">
                    <span style="color: rgb(241, 179, 46); margin-left: -10px;"><i class="fa-solid fa-2x fa-circle-info"></i> </span> 
                </div>
                <div class="col-11">
                    <h6 class="mt-1 "> you have 32 Support Request Pending For Response <span style="text-decoration: underline; margin-left: 20px;"><a href="http://">View</a></span> </h6>
                </div>

            </div>
            <div style="display: flex; flex-direction: row;">
                <div class="card sm-6 text-bg-primary" style="width: 14rem;">
                    <div class="card-body text-light">
                        <h6 class="card-subtitle mb-2 text-light">Total Users</h6>
                        <h2 class="card-title">1,567</h2>
                        <div style="display: flex; flex-direction: row;">
                            <button class="btn rounded-pill btn-light">2.36%</button>
                            <p class=" mb-2 text-light mt-2 ms-2" style="font-size:smaller;" >Since Last Month</p>
                        </div>
                    </div>
                </div>
                <div class="card sm-6 ms-4  " style="width: 14rem;  background-color: rgba(37, 145, 79, 0.849);" >
                    <div class="card-body text-light">
                        <h6 class="card-subtitle mb-2 text-light">Savings Account</h6>
                        <h2 class="card-title">1,500</h2>
                        <div style="display: flex; flex-direction: row;">
                            <button class="btn rounded-pill btn-light">2.36%</button>
                            <p class=" mb-2 text-light mt-2 ms-2" style="font-size:smaller;" >Since Last Month</p>
                        </div>
                    </div>
                </div>
                <div class="card sm-6 text-bg-primary  ms-4" style="width: 14rem;" >
                    <div class="card-body text-light">
                        <h6 class="card-subtitle mb-2 text-light">Savings Account</h6>
                        <h2 class="card-title">1,500</h2>
                        <div style="display: flex; flex-direction: row;">
                            <button class="btn rounded-pill btn-light" >2.36%</button>
                            <p class=" mb-2 text-light ms-2 mt-2" style="font-size:smaller;" >Since Last Month</p>
                        </div>
                    </div>
                </div>
                <div class="card sm-6 ms-4 " style="width: 14rem; background-color: rgba(37, 145, 79, 0.849);" >
                    <div class="card-body text-light">
                        <h6 class="card-subtitle mb-2 text-light">Savings Account</h6>
                        <h2 class="card-title">1,500</h2>
                        <div style="display: flex; flex-direction: row;">
                            <button class="btn rounded-pill btn-light">2.36%</button>
                            <p class=" mb-2 text-light mt-2 ms-2" style="font-size:smaller;" >Since Last Month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <h4>Recently Active Users</h4>
                <table class="table mt-3  ">
                    <thead style="background-color: rgb(235, 231, 231); color: rgb(146, 144, 144);">
                        <tr>
                          <th scope="col" >USERID,NAME</th>
                          <th scope="col">PHONE NUMBER</th>
                          <th scope="col">TRANSACTION CATEGORY</th>
                          <th scope="col">TRANSACTION AMOUNT</th>
                          <th scope="col">ACCOUNT TYPE</th>
                          <th scope="col">BALANCE AMOUNT</th>
                          <th></th>
                          
                        </tr>
                          

                        
                      </thead>
                      <tbody class="ms-2" >
                        <tr id="tablecontent">
                          <th scope="row">Monica James
                              <div>
                                  <td style="color:rgb(146, 144, 144); ">ID 234561945</td>
                              </div>
                          </th>
                          <td>+91 9633376543</td>
                          <td>Income
                              <div>
                                  <td style="color:rgb(146, 144, 144); ">Salary</td>
                              </div>
                          </td>
                          <td style="font-weight: 600;">$200</td>
                          <td>Savings</td>
                          <td   style="font-weight: 600;">$6000</td>
                          <td style=" font-weight: 600;" id="view">View</td>


                        </tr>
                        <tr id="tablecontent">
                            <th scope="row">Samantha
                                <div>
                                    <td style="color:rgb(146, 144, 144); ">ID 34521651</td>
                                </div>
                            </th>
                            <td>+91 8921473455</td>
                            <td>Income
                                <div>
                                    <td style="color:rgb(146, 144, 144); ">Salary</td>
                                </div>
                            </td>
                            <td  style="font-weight: 600;">$200</td>
                            <td>Savings</td>
                            <td  style="font-weight: 600;">$6000</td>
                            <td style=" font-weight: 600;" id="view">View</td>
  
  
                          </tr><tr id="tablecontent">
                            <th scope="row">Catherine
                                <div>
                                    <td style="color:rgb(146, 144, 144); ">ID 45327123</td>
                                </div>
                            </th>
                            <td>+91 7564231245</td>
                            <td>Income
                                <div>
                                    <td style="color:rgb(146, 144, 144); ">Salary</td>
                                </div>
                            </td>
                            <td  style="font-weight: 600;">$200</td>
                            <td>Savings</td>
                            <td style="font-weight: 600;">$6000</td>
                            <td style=" font-weight: 600;" id="view">View</td>
  
  
                          </tr><tr id="tablecontent">
                            <th scope="row">Dixon xavier
                                <div>
                                    <td style="color:rgb(146, 144, 144); ">ID 541234673</td>
                                </div>
                            </th>
                            <td>+91 9527304356</td>
                            <td>Income
                                <div>
                                    <td style="color:rgb(146, 144, 144); ">Salary</td>
                                </div>
                            </td>
                            <td  style="font-weight: 600;">$200</td>
                            <td>Savings</td>
                            <td  style="font-weight: 600;">$6000</td>
                            <td style=" font-weight: 600;" id="view">View</td>
  
  
                          </tr>
                          
                          
                      </tbody>
                  </table>
            </div>
         <div class="row">
             <div class="text-center mb-3 mt-3">
                <button id="btn1" class="btn-outline-dark rounded-pill  " >View all</button>

             </div>
         </div>


        </div>
       
       
    </div>
   

        </div>
        